body {
  background-color: #131516;
  color:rgb(126, 126, 126);
  height: 900px;
}

ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.banner {
  width: 100%;
  height: 100px;
  text-align: center;
}

.slot {
  position: relative;
  display: inline-block;
  margin-top: 2%;
  height: 200px;
  width: 240px;
}

section {
  position: absolute;
  border-radius: 15px !important;
  border: 3px solid rgb(126, 126, 126) !important;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background-color: grey;
  font-family: sans-serif;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
  cursor: default;
}

.container {
  position: absolute;
  top: 2px;
  width: 100%;
  transition: top ease-in-out 0.5s;
  text-align: center;
}

.roll {
  width: 215px;
  cursor: pointer;
  background-color: rgb(54, 134, 0);
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  border: 3px solid rgb(126, 126, 126);
  color:rgb(219, 219, 219)
}

.rolling {
  background-color:rgb(126, 126, 126);
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  border: 3px solid rgb(126, 126, 126);
  animation: blinkingText 1.2s infinite;
}

.godCard {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}

.options button {
  border: none;
  background-color: #131516;
}

button:focus {
  outline: 0;
}

#activeButton {
  display: inline-flex;
  margin-left: 1%;
  margin-right: 1%;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  border: 3px solid rgb(251, 255, 0);
}

.teamButtons {
  display: inline-flex;
  margin-left: 1%;
  margin-right: 1%;
  cursor: pointer;
  background-color: rgb(54, 134, 0);
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  border: 3px solid rgb(126, 126, 126);
  color:rgb(219, 219, 219)
}

.roundedIcon {
  width: 100%;
  height: auto;
  display: inline-flex;
  background-repeat: no-repeat;
  background-color: #131516;
  width: 75px;
  height: 75px;
  border-radius: 75px;
  border:none;
}

.refreshIcon {
  width: 100%;
  height: auto;
  display: inline-flex;
  background-repeat: no-repeat;
  background-color: rgb(126, 126, 126);
  width: 60px;
  height: 60px;
  border-radius: 75px;
  border:none;
}

.activeFilter {
  width: 100%;
  height: auto;
  display: inline-flex;
  background-repeat: no-repeat;
  background-color: #131516;
  width: 75px;
  height: 75px;
  border-radius: 75px;
  border: 1px solid rgb(251, 255, 0);
}

.godCheckList {
  margin:30px;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  padding: 5px;
  border: 1px solid rgb(126, 126, 126)
}

.godCheckList > div {
  flex: 1 1 auto;
  text-align: center;
  margin: 5px;
}

.givemesomespace {
  margin-top: 5%;
}

.winner {
  position: absolute;
  bottom:0;
  background-color: rgb(19, 60, 114);
  text-align: center;
  width: 200px;
  height: 50px;
}


@keyframes blinkingText {
  0% {
    color:rgb(219, 219, 219);
  }
  49% {
    color:rgb(219, 219, 219);
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color:rgb(219, 219, 219);
  }
}

.sidebarSticky {
  position: absolute;
  left: 5%;
  top: 5%;
  clear: both;
}

.optionsMenu {
  margin-top: 2%;
  padding: 5%;
  border: 1px solid rgb(73, 206, 240);
  border-radius: 20px;
  height: 500px;
}

.cogWheelButton {
  display: inline-flex;
  margin-left: 1%;
  margin-right: 1%;
  cursor: pointer;
  background-color: rgb(73, 206, 240);
  padding: 10px;
  font-size: 24px;
  text-align: center;
  border-radius: 20px;
  border: 3px solid rgb(126, 126, 126);
  color:rgb(219, 219, 219)
}

.closeButton {
  display: inline-flex;
  margin-left: 1%;
  margin-right: 1%;
  cursor: pointer;
  background-color: rgb(134, 27, 0);
  padding: 10px;
  font-size: 24px;
  text-align: center;
  border-radius: 20px;
  border: 3px solid rgb(126, 126, 126);
  color:rgb(219, 219, 219)
}

/* Tooltip https://www.w3schools.com/css/css_tooltip.asp*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  top: -5px;
  left: 105%;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:  rgb(54, 134, 0);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(54, 134, 0);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
